html, body {
    height: 100%;
    margin: 0;
    color:#fff;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
}

header {
    padding: 1vh 5vw;
    background: #1A2A80;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5vh 2vw;
    border: .1vw solid #fff;
    border-radius: .5vw;
    width: 6.3vw;
    color: #fff;
    text-shadow: 0 0 .4vw #000;
}

#titulo {
    text-decoration: none;
    border: none;
    width: auto;
    text-shadow: 0 0 .5vw #fff;
}

header h1{
    font-family: "Cinzel", serif;
    margin: 0;
    font-size: 4.5rem;
    text-align: center;
    opacity: 0;
}

header div {
    display: flex;
    justify-content: center;
    gap: 2vw;
    opacity: 0;
}

main {
    background: #1A2A80;
}

.contenedor {
    transform: translateX(-100vw);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5vw;
    height: 100%;
}

.contenedor div {
    width: 25vw;
    border: .2vw solid #000;
    border-radius: 2.5vw;
    justify-items: center;
    padding: 5vh 0 ;
    height: 60vh;
    position: relative;
}

.contenedor div h1 {
    text-align: center;
    color: #fff;
}

.contenedor div a {
    left: 50%;
    transform: translateX(-50%);
    bottom: 30%;
    position: absolute;
}

.voley {
/*     font-family: "Felipa", serif; */
    font-family: "Permanent Marker", cursive;
    font-weight: 700;
    background:  linear-gradient(to bottom,#0057B7 , #022d5c 80%);
}

#show1 {
    transform: translateX(-150vw);
    transition: transform 1s ease;
}

.futbol {
    color: #fff;
    font-family: "Permanent Marker", cursive;
    background:  linear-gradient(to bottom,#2E8B57, #164229 80%);
}

#show2 {
    transform: translateY(200vh);
    transition: transform 1s ease 2s;
}

.pinpon {
/*     font-family: "DynaPuff", system-ui; */
    font-family: "Permanent Marker", cursive;
    background:  linear-gradient(to bottom,#B22222, #3b0c0c 80%);
}

#show3 {
    transform: translateX(150vw);
    transition: transform 1s ease 1s;
}

.titulo {
    opacity: 0;
    text-align: center;
    margin: 1vh 0;
    font-size: 3.5rem;
    text-shadow: 0 0 1vw #fff;
    transition: opacity 1s ease-in 1s;
}

.main {
    display: grid;
    grid-template-rows: auto 1fr;
}

.cont {
    display: flex;
    justify-content: center;
    gap: 4.5vw;
}

.cont ul, .cont div {
    width: 25vw;
    margin: 0;
    border: .2vw solid #000;
    border-radius: 1vw;
    height: 60vh;
    color: #fff;
    background: linear-gradient(180deg, #1A2A80, #0057B7);
}

li, p {
    font-size: 1.2rem;
}

.cont div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5vw;
}

.show1 {
    transition: opacity 1s ease-in-out;
}

@media (max-width: 599px) {
    body {
        overflow-x:hidden;
    }

    header h1 {
        font-size: 2rem;
    }

    a {
        width: fit-content;
    }

    .titulo {
        font-size: 2rem;
    }

    .contenedor, .cont {
        display: grid;
        grid-template-rows:auto auto auto ;
    }

    .contenedor div, .cont div, .cont ul {
        width: 80vw;
        border: .2vw solid #000;
        border-radius: 2.5vw;
        height: fit-content;
        padding: 1vh 6vw;
    }

    .contenedor div {
        height: 25vh;
    }

    .contenedor div a {
        bottom: 5%;
        color: #000;
    }
}

@media (min-width:600px) and (max-width: 768px) {
    body {
        overflow-x:hidden;
    }

    header h1 {
        font-size: 3rem;
    }

    a {
        width: 15vw;
    }

    .titulo {
        font-size: 2.2rem;
    }

    .contenedor, .cont {
        display: grid;
        grid-template-rows:1fr 1fr 1fr ;
    }

    .contenedor div, .cont div, .cont ul {
        width: 80vw;
        border: .2vw solid #000;
        border-radius: 2.5vw;
        padding: 1vh 4vw ;
        height: fit-content;
    }
    .contenedor div {
        height: 25vh;
    }

    .contenedor div a {
        bottom: 5%;
        color: #000;
    }
    
}

@media (min-width: 768px) and (max-width: 1200px) {
    body {
        overflow-x:hidden ;
    }

    header h1 {
        font-size: 4rem;
    }

    .contenedor div {
        width: 28vw;
        border: .2vw solid #000;
        border-radius: 2.5vw;
        justify-items: center;
        padding: 5vh 0 ;
        height: 40vh;
    }
  }
